.page {
    .hero-outer {
        height: 85vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .hero {
            font-weight: 600;
            margin: 0 0 0 2rem;
            p {
                max-width: 600px;
                margin: 0.7rem auto 1rem auto;
            }
        }
    }
    h1 {
        text-align: center;
    }
    .feature-cards {
        margin: 0 2rem 5rem 2rem;
        display: flex;
        justify-content: center;
    }
    @media (max-width: 992px) {
        .hero-outer {
            .hero {
                margin: 0;
            }
        }
        .feature-cards {
            margin: 0;
        }
    }
}