<section class="page">
    <div class="hero-outer">
        <div class="hero">
            <h1>404; not found</h1>
            <p>We didn&rsquo;t find &ldquo;{{ currentURL }}&rdquo; our servers. Sorry. Check if the URL you entered is correct and has no typos. If you know there is supposed to be something here, please email <a href="mailto:ntc@knsh.red">ntc@knsh.red</a></p>
            <div class="btn-group">
                <a href="/account" routerLink="/account" class="btn">Account</a>
                <a href="/home" routerLink="/home" class="btn btn-primary">Home &rarr;</a>
            </div>
        </div>
    </div>
</section>