<div class="level">
    <div class="question"><h1>Yellow</h1></div>
    <div class="answers">
        <div class="answer" id="red"><clr-icon shape="check-circle" class="is-solid" size="56"></clr-icon></div>
        <div class="answer" id="yellow"></div>
    </div>
    <div class="answers">
        <div class="answer" id="blue"></div>
        <div class="answer" id="green"></div>
    </div>
    <p>3 seconds to answer, no position changes, options are colored in, and are blocks</p>
    <a class="btn btn-outline" routerLink="/about" href="/about">Back to About</a>
    <a class="btn btn-primary" routerLink="/level/1" href="/level/1">Play</a>
</div>