<h2>Current Version: v1.0.0-b.8</h2>
<h4>v1.0.0-b.8</h4>
<ul class="list">
    <li>Change icons in headers</li>
</ul>
<h4>v1.0.0-b.7</h4>
<ul class="list">
    <li>Make examples better in <a href="/about" routerLink="/about">about</a></li>
</ul>
<h4>v1.0.0-b.6</h4>
<ul class="list">
    <li>Fix style errors</li>
    <li>Add changelog</li>
</ul>
<h4>v1.0.0-b.5</h4>
<ul class="list">
    <li>Change times for levels</li>
</ul>
<h4>v1.0.0-b.4</h4>
<ul class="list">
    <li>Add feedback option</li>
    <li>Remove coming soon section</li>
</ul>
<h4>v1.0.0-b.3</h4>
<ul class="list">
    <li>Add (You) feature to leaderboards</li>
</ul>
<h4>v1.0.0-b.2</h4>
<ul class="list">
    <li>Add leaderboards</li>
</ul>
<h4>v1.0.0-b.1</h4>
<ul class="list">
    <li>Add accounts</li>
    <li>Add Google Analytics</li>
</ul>
<h4>v1.0.0-b</h4>
<ul class="list">
    <li>Initial beta release</li>
</ul>