<div class="hero">
  <div class="level">
    <h3>About Level One</h3>
    <p>3 seconds to answer, no position changes, options are colored in, and are blocks</p>
    <a href="/level/1" routerLink="/level/1" class="btn btn-icon btn-outline">Play</a>
    <a href="/about/level/1" routerLink="/about/level/1" class="btn btn-icon btn-primary">Example</a>
  </div>

  <div class="level">
    <h3>About Level Two</h3>
    <p>3 seconds to answer, no position changes, options are colored in, and are text</p>
    <a href="/level/2" routerLink="/level/2" class="btn btn-icon btn-outline">Play</a>
    <a href="/about/level/2" routerLink="/about/level/2" class="btn btn-icon btn-primary">Example</a>
  </div>
  
  <div class="level">
    <h3>About Level Three</h3>
    <p>2 seconds to answer, option position changes, are colored in, and are blocks</p>
    <a href="/level/3" routerLink="/level/3" class="btn btn-icon btn-outline">Play</a>
    <a href="/about/level/3" routerLink="/about/level/3" class="btn btn-icon btn-primary">Example</a>
  </div>
  
  <div class="level">
    <h3>About Level Four</h3>
    <p>3 seconds to answer, option position changes, are not colored in, and are text</p>
    <a href="/level/4" routerLink="/level/4" class="btn btn-icon btn-outline">Play</a>
    <a href="/about/level/4" routerLink="/about/level/4" class="btn btn-icon btn-primary">Example</a>
  </div>
  
  <div class="level">
    <h3>About Level Five</h3>
    <p>3 seconds to answer, option position changes, are colored in, and are text</p>
    <a href="/level/5" routerLink="/level/5" class="btn btn-icon btn-outline">Play</a>
    <a href="/about/level/5" routerLink="/about/level/5" class="btn btn-icon btn-primary">Example</a>
  </div>
</div>