<div class="hero">
  <h3>Level One
    <a href="/about/level/1" routerLink="/about/level/1" class="btn btn-icon btn-link"><clr-icon shape="help-info" size="20"></clr-icon></a>
    <a href="/level/1" routerLink="/level/1" class="btn btn-icon btn-link"><clr-icon shape="play" class="is-solid" size="20"></clr-icon></a>
  </h3>
  <p>3 seconds to answer, no position changes, options are colored in, and are blocks</p>

  <h3>
    Level Two
    <a href="/about/level/2" routerLink="/about/level/2" class="btn btn-icon btn-link"><clr-icon shape="help-info" size="20"></clr-icon></a>
    <a href="/level/1" routerLink="/level/2" class="btn btn-icon btn-link"><clr-icon shape="play" class="is-solid" size="20"></clr-icon></a>
  </h3>
  <p>3 seconds to answer, no position changes, options are colored in, and are text</p>
  
  <h3>
    Level Three
    <a href="/about/level/3" routerLink="/about/level/3" class="btn btn-icon btn-link"><clr-icon shape="help-info" size="20"></clr-icon></a>
    <a href="/level/1" routerLink="/level/3" class="btn btn-icon btn-link"><clr-icon shape="play" class="is-solid" size="20"></clr-icon></a>
  </h3>
  <p>2 seconds to answer, option position changes, are colored in, and are blocks</p>
  
  <h3>
    Level Four
    <a href="/about/level/4" routerLink="/about/level/4" class="btn btn-icon btn-link"><clr-icon shape="help-info" size="20"></clr-icon></a>
    <a href="/level/1" routerLink="/level/4" class="btn btn-icon btn-link"><clr-icon shape="play" class="is-solid" size="20"></clr-icon></a>
  </h3>
  <p>3 seconds to answer, option position changes, are not colored in, and are text</p>
  
  <h3>
    Level Five
    <a href="/about/level/5" routerLink="/about/level/5" class="btn btn-icon btn-link"><clr-icon shape="help-info" size="20"></clr-icon></a>
    <a href="/level/1" routerLink="/level/5" class="btn btn-icon btn-link"><clr-icon shape="play" class="is-solid" size="20"></clr-icon></a>
  </h3>
  <p>3 seconds to answer, option position changes, are colored in, and are text</p>
</div>