<div class="hero">
  <h3>Level One</h3>
  <p>5 seconds to answer,
  no position changes, options are colored in, and are blocks</p>

  <h3>Level Two</h3>
  <p>5 seconds to answer,
  no position changes, options are colored in, and are text</p>
  
  <h3>Level Three</h3>
  <p>3 seconds to answer,
  option position changes, are colored in, and are blocks</p>
  
  <h3>Level Four</h3>
  <p>3 seconds to answer,
  option position changes, are not colored in, and are text</p>
  
  <h3>Level Five</h3>
  <p>3 seconds to answer,
  option position changes, are colored in, and are text</p>
</div>