.level {
    text-align: center;
    .question {
        margin: 0 0 15px 0;
        h1 {
            color: #ff0;
        }
    }
    .answers {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        .answer {
            cursor: pointer;
            h3 {
                margin: 10px 0 0 0;
                font-weight: 600;
            }
            clr-icon {
                fill: white;
            }
        }
    }
}