.hero {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    p {
        margin-top: .25rem;
    }
}
.datagrid-body {
    max-height: 300px;
}
.you-false {
    display: none;
}
.btn-group {
    margin: 0 0 .5rem 0;
}