<div class="level">
    <div class="question"><h1>Blue</h1></div>
    <div class="answers">
        <div class="answer" id="red"><h3>Red</h3></div>
        <div class="answer" id="yellow"><h3>Yellow</h3></div>
        <div class="answer" id="blue"><h3>Blue</h3></div>
        <div class="answer" id="green"><h3>Green<clr-icon shape="check-circle" class="is-solid" size="28"></clr-icon></h3></div>
    </div>
    <p>3 seconds to answer, option position changes, are colored in, and are text</p>
    <a class="btn btn-outline" routerLink="/about" href="/about">Back to About</a>
    <a class="btn btn-primary" routerLink="/level/5" href="/level/5">Play</a>
</div>