li {
    font-size: .7rem;
}
h2 {
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
}
h4 {
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.6rem;
}
p, ol {
    margin: 0.3rem 1rem 0.3rem 1rem;
}
p:last-of-type {
    margin-left: 0;
}