clr-main-container {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  .header {
    background: transparent;
    .branding {
      padding: 0;
      .nav-icon {
        opacity: .65;
        transition: 300ms ease-in-out opacity;
        clr-icon {
          fill: #adbbc4;
        }
        &:hover {
          opacity: 1;
        }
        &.active {
          opacity: 1;
          clr-icon {
            fill: #f2faff;
          }
        }
      }
    }
    .header-actions {
      .nav-icon {
        transition: 300ms ease-in-out opacity;
        width: 1.8rem;
        clr-icon {
          fill: #adbbc4;
        }
        div {
          padding-left: 8px;
          img {
            width: 30px;
            height: 30px;
            opacity: 1;
            border-radius: 100%;
          }
        }
        &.active {
          background: transparent;
          opacity: 1;
          clr-icon {
            fill: #f2faff;
          }
        }
      }
    }
  }
  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding: 0 0.5rem 0 1rem;
    margin: 0 auto;
    .outlet {
      max-height: 550px;
      overflow: auto;
      width: 100%;
      max-width: 400px;
      padding-right: 0.5rem;
    }
    clr-modal {
      margin: 1rem;
      .modal-title {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.3;
      }
    }
  }
}

@media screen and (max-height: 620px) {
  .outlet {
    max-height: 400px !important;
  }
}

@media screen and (max-width: 576px) {
  .main-container .header .branding {
    max-width: 100%;
  }
}