<clr-main-container>
  <clr-header>
    
    <div class="branding">
      <a href="/" routerLink="/" class="nav-link nav-icon" [hidden]="home">
        <clr-icon shape="arrow left" size="32"></clr-icon>
      </a>
      <a href="/settings" routerLink="/settings" routerLinkActive="active" class="nav-link nav-icon">
        <clr-icon shape="settings" size="32"></clr-icon>
      </a>
      <a href="/about" routerLink="/about" routerLinkActive="active" class="nav-link nav-icon">
        <clr-icon shape="help" size="32"></clr-icon>
      </a>
      <a href="/leaderboards" routerLink="/leaderboards" routerLinkActive="active" class="nav-link nav-icon">
        <clr-icon shape="view-list" size="32"></clr-icon>
      </a>
    </div>
    
    <div class="header-actions">
      <a href="/account" routerLink="/account" routerLinkActive="active" class="nav-link nav-icon">
        <clr-icon shape="login" size="32"></clr-icon>
      </a>
    </div>
    
  </clr-header>
  
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
  
</clr-main-container>
