clr-main-container {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  .header {
    background: transparent;
    .branding {
      .nav-icon {
        opacity: .65;
        transition: 300ms ease-in-out opacity;
        clr-icon {
          fill: #adbbc4;
        }
        &:hover {
          opacity: 1;
        }
        &.active {
          opacity: 1;
          clr-icon {
            fill: #f2faff;
          }
        }
      }
    }
    .header-actions {
      .nav-icon {
        transition: 300ms ease-in-out opacity;
        clr-icon {
          fill: #adbbc4;
        }
        &.active {
          background: transparent;
          opacity: 1;
          clr-icon {
            fill: #f2faff;
          }
        }
      }
    }
  }
  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    max-width: 400px;
    margin: 0 auto;
    clr-modal {
      margin: 1rem;
      .modal-title {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.3;
      }
    }
  }
}