<div class="level">
    <div class="question"><h1 [style.color]="color">{{ question }}{{ time }}</h1></div>
    <div class="answers">
        <div class="answer" id="red"><h3>{{ answerOptions[0] }}</h3></div>
        <div class="answer" id="yellow"><h3>{{ answerOptions[1] }}</h3></div>
        <div class="answer" id="blue"><h3>{{ answerOptions[2] }}</h3></div>
        <div class="answer" id="green"><h3>{{ answerOptions[3] }}</h3></div>
    </div>
    <button class="btn btn-primary" (click)="play()" [disabled]="buttonDisabled">{{ buttonText }}{{ score }}</button>
    <p class="previousScore">Previous Score: {{ previousScore }}</p>
    <p class="highScore" [hidden]="!loggedIn">High Score: {{ highScore }}</p>
</div>
<clr-modal [(clrModalOpen)]="leaderboardModal">
    <h3 class="modal-title">Woohoo!</h3>
    <div class="modal-body">
        <p>I know the game just ended, but your score of {{ previousScore }} is now #{{ leaderboardPosition }} on the leaderboards. Well done!</p>
    </div>
    <div class="modal-footer">
        <a type="button" class="btn btn-outline" href="/leaderboards/4" routerLink="/leaderboards/4" (click)="leaderboardModal = false">Leaderboards</a>
        <a type="button" class="btn btn-primary" (click)="leaderboardModal = false">Ok</a>
    </div>
</clr-modal>