<div class="level">
    <div class="question"><h1 [style.color]="color">{{ question }}{{ time }}</h1></div>
    <div class="answers">
        <div class="answer" id="red" [style.backgroundColor]="answerColors[0]"></div>
        <div class="answer" id="yellow" [style.backgroundColor]="answerColors[1]"></div>
    </div>
    <div class="answers">
        <div class="answer" id="blue" [style.backgroundColor]="answerColors[2]"></div>
        <div class="answer" id="green" [style.backgroundColor]="answerColors[3]"></div>
    </div>
    <button class="btn btn-primary" (click)="play()" [disabled]="buttonDisabled">{{ buttonText }}{{ score }}</button>
    <p class="previousScore">Previous Score: {{ previousScore }}</p>
    <p class="highScore" [hidden]="!loggedIn">Your High Score: {{ highScore }}<br>{{ showCr }} clicks/sec</p>
    <p class="highScore" [hidden]="loggedIn"><a href="/account" routerLink="/account">Get an account</a> to record your high scores and be on the leaderboard</p>
</div>