.hero {
    text-align: center;
    .inner {
        clr-icon {
            cursor: pointer;
            margin: 1.3rem 0 0 0;
            animation: pulse 1.5s ease-in-out infinite;
            transition: 300ms ease-in-out opacity;
            opacity: .65;
            &:hover {
                animation: pulseHover 300ms ease-in-out forwards;
                opacity: 1;
            }
        }
        .levels-select {
            margin: 1.8rem 0 0 0;
            p {
                margin: 0 0 15px 0;
            }
            label {
                cursor: pointer;
                background: #adbbc4;
                color: #1b2a32;
                border-radius: 100%;
                margin: 0 0.25rem;
                opacity: .65;
                padding: 10.5px 13px 9.5px;
                transition: 300ms ease-in-out opacity, 300ms ease-in-out background, 300ms ease-in-out color;
                &:hover {
                    opacity: 1;
                    background: #2f4652;
                    color: #adbbc4;
                }
            }
        }
        input {
            display: none;
            &.level1:checked ~ .levels-select #level1,
            &.level2:checked ~ .levels-select #level2,
            &.level3:checked ~ .levels-select #level3,
            &.level4:checked ~ .levels-select #level4,
            &.level5:checked ~ .levels-select #level5 {
                opacity: 1;
                background: #2f4652;
                color: #adbbc4;
            }
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1.2);
    } 100% {
        transform: scale(1);
    }
}

@keyframes pulseHover {
    to {
        transform: scale(1.4);
    }
}